body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*My Styles*/
.eventContainer{
    display: flex;
    flex-grow: 1;
    margin-bottom: 3vh;
    border-bottom: 1px solid #808080;
}

.eventContainer li{
    list-style: none;
}

.eventCard ul{
    padding-left: 0;
}

.eventName{
    width: 30vw;
}

.countDown{
    text-align: center;
    min-width: 45vw;
}

.titles {
    display: flex;
    flex-grow: 1;
    margin-bottom: 3vh;
}

.titles h2{
    width: 50vw;
}

.titles p {
    width: 50vw;
    margin-top: 20px;
    text-align: center;
}

#crudLinks {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding-left: 9vw;
}
